body {
    justify-content: center;
    align-items: center;
    background-color: #0D1B2A;
}

* {
    color: #E0E4CC;
    font-size: x-small;
    font-weight: bold;
}

a {
    color: #E0E4CC;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.input-field {
    background: #0D1B2A;
    color: #E0E4CC;
    border-color: black;
}

.signUp-box {
    background-color: #132a42;
}

#username_cross,
#password_cross1,
#mobile_cross,
#password_cross,
#email_cross {
    position: relative;
    top: -20px;
    left: -25px;
}

#username_check,
#password_check1,
#mobile_check,
#password_check,
#email_check {
    position: relative;
    top: -20px;
    left: -25px;
}

::-webkit-scrollbar {
    display: none;
}