<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <title>YogaConnect+</title>
    <!-- Styles. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/Main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/Profile.css')}}">

</head>

<body data-user="{{current_user.username}}" data-title="{{user.username}}">

    <!-- Content. -->
    <div>
        <!-- current_user's details are listed here and also an option to add post. -->
        <div class="user-details-box p-5">
            <img src="{{url_for('static',filename='/images/Yoga2.jpg')}}" class="rounded-circle user-profile-pic" alt="">
            {{user.username}}

            <div class="float-end mt-5 hide" >
                <a class="fa-solid fa-house" style="display:inline-block;width:30px" href="{{url_for("home",username = current_user.username)}}">                       
                </a>
                <a class="fa-solid fa-globe" style="display:inline-block;width:30px" href="{{url_for("explore",username = current_user.username)}}">                         
                </a>
                {% if current_user %}
                <a class="fa-solid fa-user" href="{{url_for("dashboard",username = current_user.username)}}">                         
                </a>
                {% endif %}  
            </div>
        
            <p class="hide mt-5"><strong>Name : </strong>{{user.name}}</p>
            <p class="hide"><strong>Age : </strong>{{user.age}}</p>
            <p class="hide"><strong>Gender : </strong>{{user.gender}}</p>
            <p class="hide"><a href="#followers" data-toggle="modal"><strong>Followers :
                    </strong></a>{{user.followers | length}}</p>
            <p class="hide"><a href="#following" data-toggle="modal"><strong>Following :
                    </strong></a>{{user.following | length}}</p>
            {% if user.typee=='G' %}
                <p class="hide"><strong>Type : </strong>General</p>
            {%else%}
                <p class="hide"><strong>Type : </strong>Trainer</p>
                
                {% if user.trainees %}
                    
                    {% if current_user.username in user.trainees %}
                        <p class="hide"><a class="hide" style="font-size:15px" href="{{url_for('vc',username=current_user.username,trainer_username = user.username)}}">Join Session</a></p>    
                        <div class="vh-0"></div>
                    {%else%}

                        {% if current_user %}
                            <button type="submit" onclick="becomeTrainee()"  class="btn btn-primary btn-trainer hide">
                                Become A Trainee
                            </button>
                        {%else%}
                            <p class="hide" style="color:red;font-size:20px">You need to signin to connect to {{user.name}}.</p>
                        {% endif %}

                    {% endif %}

                {%else%}

                    {% if current_user %}
                        <button type="submit" onclick="becomeTrainee()"  class="btn btn-primary btn-trainer hide">
                            Become A Trainee
                        </button>
                    {%else%}
                        <p class="hide" style="color:red;font-size:20px">You need to signin to connect to {{user.name}}.</p>   
                    {% endif %}

                {% endif %}
            
            {% endif %}

            {% if current_user.username not in user.followers %}
            
                <button type="submit" class="btn btn-primary btn-trainer hide" onclick="follow();" onmouseup="reload()">
                    Follow
                </button>
            {% else %}
                <button type="submit" class="btn btn-primary btn-trainer hide" onclick="unfollow()">
                    Unfollow
                </button>
            {% endif %}
        </div>

        <!-- /current_user's details are listed here and also an option to add post. -->

        <!-- Angles Down to unviel the posts. -->
        <div class="d-flex justify-content-center angles-down">
            <i class="fa-solid fa-angles-down fa-2xl" style="color: #E0E4CC;"></i>
        </div>
        <!-- /Angles Down to unviel the posts. -->

    </div>
    <!-- Modal -->

    <div class="modal fade" id="followers" tabindex="-1" aria-labelledby="trainerModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="trainerModalLabel">Followers</h5>
                </div>

                <div class="modal-body" style="height:15vh;overflow-y:scroll">
                    {% if user.followers %}
                        <ul class="list-unstyled">
                            {% for user in user.followers %}
                                <li>
                                    <a href="{{url_for("profile",user = user,username=current_user.username)}}">{{user}}</a>
                                </li>
                            <hr>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="following" tabindex="-1" aria-labelledby="trainerModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="trainerModalLabel">Following</h5>
                </div>

                <div class="modal-body" style="height:15vh;overflow-y:scroll">
                    {% if user.following %}
                        <ul class="list-unstyled">
                            {% for user in user.following %}
                                <li>
                                    <a href="{{url_for("profile",user = user,username=current_user.username)}}">{{user}}</a>
                                </li>
                            <hr>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->

    <div class="container rounded-4 p-5">

        <!-- Posts. -->
        <div class="mx-auto">
            {% if user.posts %}
                <h2 class="my-4 heading">Posts</h2>

                <div id="posts">
                    <!-- User posts dynamically generated here -->
                    {% for post in user.posts %}
                        {% if post['type'] == 'text' %}
                            <div class="post-card mx-auto ">
                                <a href="" class="p-3">{{user.username}}</a>
                                <div>
                                    <div class="w-5 p-3 m-3 rounded" style="background-color:#204969">{{post['content']}}</div>
                                    <i class="fa-regular p-3 fa-thumbs-up fa-xl reaction-icons"> {{post['likes']}}</i>
                                    <i class="fa-regular fa-thumbs-down fa-xl reaction-icons" style="margin-left: 10px;"> {{post['dislikes']}}</i>                                
                                </div>
                            </div>
                        {%else%}
                            <div class="post-card mx-auto">
                                <a href="" class="p-3">{{current_user.username}}</a>
                                
                                    <img src="data:image/jpeg;base64,{{post["content"]}}" alt="">
                                <div class="m-3 p-3">
                                    <i class="fa-regular fa-thumbs-up fa-xl reaction-icons"> {{post['likes']}}</i>
                                    <i class="fa-regular fa-thumbs-down fa-xl reaction-icons" style="margin-left: 10px;"> {{post['dislikes']}}</i>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}          
                    <!-- /User posts. -->
                </div>
            {%else%}
                <h2 class="my-4 heading" style="height:50vh">No Posts Yet</h2>
            {% endif %}
        </div>
        <!-- /Posts. -->
    
    </div>
    <!-- /Content. -->

    <!-- Footer. -->
    <footer class="w-100 bottom">
        <div class="container-fluid justify-content-end row footer-height">
            <div class="container-fluid col-sm-2 mt-3" >
                <img src="{{url_for('static',filename='/images/Logo.png')}}" alt="Logo" width="280px">
            </div>
            <div class=" container-fluid col-sm-8 mt-5 text-center">
                <a class="fa-brands fa-2xl fa-instagram m-3"></a>
                <a class="fa-brands fa-facebook fa-2xl m-3"></a>
                <a class="fa-brands fa-youtube fa-2xl m-3"></a>
                <a class="fa-brands fa-threads fa-2xl m-3"></a>
            </div>
            <div class=" container-fluid col-sm mt-5">
                <dl>
                    <dt>
                        Contact Us
                    </dt>
                    <dd class="mt-2">
                        Contact Us : +77990717818
                        <br>
                        Email : hetavi.shah05@gmail.com
                    </dd>
                </dl>
            </div>
        </div>

    </footer>
    <!-- Footer ends here. -->

    <!-- Scripts. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/abdff43453.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='/js/Main.js')}}"></script>
    <script src="{{url_for('static',filename='/js/Dashboard.js')}}"></script>
    <script>
        function becomeTrainee() {
            location.reload();
            var username = document.body.getAttribute("data-user")
            var user_username = document.body.getAttribute("data-title")
            fetch(`/profile/${username}/${user_username}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            })
            .then(response => {
                if (!response.ok) {
                throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // Optionally handle response data
                location.reload();
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });

        }

        function follow() {
            location.reload();

            var username = document.body.getAttribute("data-user")
            var user_username = document.body.getAttribute("data-title")
            fetch(`/follow/${username}/${user_username}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            })
            .then(response => {
                if (!response.ok) {
                throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // Optionally handle response data
                setTimeout(function() {
                        location.reload();
                    }, 5000); })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        }
        function reload(){
        }
        function unfollow() {
            location.reload();
            var username = document.body.getAttribute("data-user")
            var user_username = document.body.getAttribute("data-title")
            fetch(`/unfollow/${username}/${user_username}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            })
            .then(response => {
                if (!response.ok) {
                throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // Optionally handle response data
                location.reload();
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        }
    </script>
</body>

</html>